amqp==5.1.1
asgiref
async-timeout==4.0.2
billiard==3.6.4.0
celery==3.1.23
click
click-didyoumean
click-plugins
click-repl
Deprecated==1.2.13
Django
kombu
packaging
prompt-toolkit
pyparsing
pytz
redis
six
sqlparse
vine
wcwidth
wrapt
